Repository jaegertracing/jaeger-ui, pull requests merged in 2025-04, with the labels that each got.

#2712 Refactor: move action menu to a re-usable component
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/__snapshots__/index.test.js.snap
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.css
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.test.js
  packages/jaeger-ui/src/components/DeepDependencies/Graph/DdgNodeContent/index.tsx
  packages/jaeger-ui/src/components/common/ActionMenu/ActionMenu.test.js
  packages/jaeger-ui/src/components/common/ActionMenu/ActionsMenu.css
  packages/jaeger-ui/src/components/common/ActionMenu/ActionsMenu.tsx
Labels: changelog:refactoring

#2714 Prepare release v1.68.0
  CHANGELOG.md
  packages/jaeger-ui/package.json
Labels: changelog:skip

#2716 Improve performance when expanding/collapsing span details
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Labels: changelog:bugfix-or-minor-feature

#2717 Fix grouping on trace statistics page for tags
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValuesTestTrace/traceWithMultipleSpansWithTheSameValueInDifferentTags.json
Labels: changelog:bugfix-or-minor-feature

#2719 [Feat]: Add context menu on node to DAG
  packages/jaeger-ui/src/components/DependencyGraph/DAG.test.js
  packages/jaeger-ui/src/components/DependencyGraph/DAG.tsx
  packages/jaeger-ui/src/components/DependencyGraph/dag.css
  packages/jaeger-ui/src/components/DependencyGraph/index.jsx
Labels: changelog:bugfix-or-minor-feature

#2721 Improve performance of Trace Statistics
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/tableValues.tsx
Labels: changelog:bugfix-or-minor-feature

#2722 Improve performance of expanding and collapsing spans
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/VirtualizedTraceView.tsx
Labels: changelog:bugfix-or-minor-feature

#2724 Improve performance of Trace Statistics page when grouping by tag
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/TraceStatisticsHeader.tsx
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateDropdownValue.test.js
  packages/jaeger-ui/src/components/TracePage/TraceStatistics/generateDropdownValue.tsx
Labels: changelog:bugfix-or-minor-feature

#2725 Migrate from enzyme to @testing-library/react in KeyboardShortsHelp
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/KeyboardShortcutsHelp.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/KeyboardShortcutsHelp.tsx
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/__snapshots__/KeyboardShortcutsHelp.test.js.snap
Labels: changelog:bugfix-or-minor-feature

#2723 [Fix]: make reset icon in SDG more intuitive
  packages/jaeger-ui/src/components/DependencyGraph/DAG.test.js
  packages/jaeger-ui/src/components/DependencyGraph/DAG.tsx
  packages/jaeger-ui/src/components/DependencyGraph/DAGOptions.css
  packages/jaeger-ui/src/components/DependencyGraph/DAGOptions.test.js
  packages/jaeger-ui/src/components/DependencyGraph/DAGOptions.tsx
  packages/jaeger-ui/src/components/DependencyGraph/index.jsx
  packages/jaeger-ui/src/components/DependencyGraph/index.test.js
Labels: changelog:bugfix-or-minor-feature

#2727 Migrate CopyIcon tests
  packages/jaeger-ui/src/components/common/CopyIcon.test.js
  packages/jaeger-ui/src/components/common/CopyIcon.tsx
  packages/jaeger-ui/src/components/common/__snapshots__/CopyIcon.test.js.snap
Labels: changelog:bugfix-or-minor-feature

#2728 Migrate GraphTicks tests
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/GraphTicks.test.js
Labels: changelog:test

#2729 Migrate TimelineCollapser tests
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/TimelineHeaderRow/TimelineCollapser.test.js
Labels: changelog:test

#2730 Migrate NameSelector tests
  package-lock.json
  packages/jaeger-ui/package.json
  packages/jaeger-ui/src/components/common/NameSelector.test.js
  packages/jaeger-ui/src/components/common/NameSelector.tsx
  packages/jaeger-ui/src/components/common/__snapshots__/NameSelector.test.js.snap
Labels: changelog:test

#2718 Reduce load time of trace page by deferring critical path tooltip
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBar.test.js
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanBar.tsx
Labels: changelog:bugfix-or-minor-feature

#2733 Migrate Ticks tests
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/Ticks.test.js
Labels: changelog:test

#2737 Migrate EmptyState
  packages/jaeger-ui/src/components/Monitor/EmptyState/__snapshots__/index.test.js.snap
  packages/jaeger-ui/src/components/Monitor/EmptyState/index.test.js
Labels: changelog:test

#2735 Migrate TraceIdInput test
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/TraceIdInput.test.js
  packages/jaeger-ui/src/components/TraceDiff/TraceDiffHeader/__snapshots__/TraceIdInput.test.js.snap
Labels: changelog:refactoring

#2740 Migrate TextList test
  packages/jaeger-ui/src/components/TracePage/TraceTimelineViewer/SpanDetail/TextList.test.js
Labels: changelog:test

#2738 Migrate DetailList
  packages/jaeger-ui/src/components/common/DetailsCard/DetailList.test.js
  packages/jaeger-ui/src/components/common/DetailsCard/__snapshots__/DetailList.test.js.snap
Labels: changelog:test

#2743 Migrate TickLabels tests
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/TickLabels.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/TickLabels.tsx
Labels: changelog:test

#2736 Migrate MonitorATMPage tests
  packages/jaeger-ui/src/components/Monitor/__snapshots__/index.test.js.snap
  packages/jaeger-ui/src/components/Monitor/index.test.js
Labels: changelog:test

#2744 Migrate Scrubber tests
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/Scrubber.test.js
  packages/jaeger-ui/src/components/TracePage/TracePageHeader/SpanGraph/Scrubber.tsx
Labels: changelog:test

#2741 Migrate DownloadResults
  packages/jaeger-ui/src/components/SearchTracePage/SearchResults/DownloadResults.test.js
Labels: changelog:test

#2745 Migrate TraceFlamegraph
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/__snapshots__/index.test.js.snap
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.test.js
  packages/jaeger-ui/src/components/TracePage/TraceFlamegraph/index.tsx
Labels: changelog:test
